body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  background-color: rgb(255,255,255);

    min-width: 1200px;
}
a {
  text-decoration: none;
}

/*Кнопки*/

.btn {
  background-color: rgb(256,86,90);
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgb(255,255,255);
  border: none;
}
.btn:hover,
.btn:focus{
  background-color: rgb(231,66,70);
  outline: none;
}
.btn:active {
  background-color: rgb(215,55,59);
  color: rgba(255,255,255,0.3);
  outline: none;
}
.green {
  background-color: rgb(0,202,116);
}
.green:hover,
.green:focus {
  background-color: rgb(0,188,108);
}
.green:active {
  background-color: rgb(0,170,98);
}
.yellow {
  background-color: rgb(239,200,74);
}
.yellow:hover,
.yellow:focus {
  background-color: rgb(234,181,52);
}
.yellow:active {
  background-color: rgb(229,167,34);
}
.gray {
  background-color: rgb(238,238,238);
  color: rgb(0,0,0);
}
.gray:hover,
.gray:focus {
  background-color: rgb(223,223,223);
  outline: none;
}
.gray:active {
  background-color: rgb(213,213,213);
  outline: none;
}

/*Скрытие*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  }
/*index - header*/

.main-header {
  padding-top: 50px;
  background-color: rgb(238,238,238);
}

.main-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  display: flex;
  align-items: center;
}

/*Блоки верхей части*/

.logo-block {
  width: 160px;
  height: 65px;
}

.navigation-block {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  padding: 0;
  margin-top: 10px;
  margin-left: auto;
}

.cart-block {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
 margin-top: 10px;
 margin-left: auto;
}

.main-links,
.cart {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
ul.main-links {
  padding-left: 0;
  margin-left: 0;
}
ul.cart {
  padding: 0;
}

.main-links a {
  color: rgb(0,0,0);
  padding-left: 20px;
  padding-right: 20px;
}

.cart a {
  color: rgb(0,0,0);
  padding-left: 20px;
  padding-right: 20px;
}
.main-links a:hover,
.cart a:hover {
  color: rgb(251,86,90);
}
.main-links a:focus,
.cart a:focus {
  color: rgb(251,86,90);
}

.main-links a:active,
.cart a:active {
  color: rgba(0,0,0,0.3);
}

.main-links li:nth-last-child(1) a {
  padding-right: 0;
}
.cart li a {
  padding-right: 0;
}
/*index - slider*/

.slider {
  margin-top: 20px;
}

.slider .slide-1 {
  background-color: rgb(238,238,238);
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider .slide-2 {
  background-color: rgb(238,238,238);
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider .slide-3 {
  background-color: rgb(238,238,238);
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider .text-header {
  margin: 0;
  padding-top: 85px;
  padding-bottom: 25px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: rgb(0,0,0);
}
.slider .text-sub {
  margin: 0;
  padding-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}

.slider .slider-text-block {
  width: 380px;
}


.slider-buttons .buttons-list {
  list-style: none;
}

/*index - Услуги*/

.service h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.service .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}
.service .service-list {
  list-style: none;
}

/*index - О компании*/

.about-us-details .text-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: rgb(0,0,0);
}
.about-us-details .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}
.about-us-details .text-list {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.about-us-details .lists {
  list-style: none;
}
.stats-block .stats {
  list-style: none;
}
.stats-block .stats-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.stats .procent-numbers {
  font-size: 45px;
  font-weight: 600;
  line-height: 10px;
  color: rgb(0,0,0);
}
.stats .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(40,49,54);
}

/*index - Клиенты*/

.clients .clients-list {
  list-style: none;
}

/*catalog - header*/

.main-header .page-header {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: rgb(0,0,0);
  text-align: center;
}

/*catalog - фильтры*/

.filter legend {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(0,0,0);
}
.filter fieldset {
  border: 0 none;
}
.filter .price-field {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(40,49,54);
}
.filter .price-field input {
  outline: none;
  border: 2px solid rgb(215,220,222);
}
.filter .price-field input:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(68,68,68);
  opacity: 0,5;
  border: 2px solid rgb(68,68,68);
}
.filter .price-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(40,49,54);
}
.filter .price-input ::-webkit-input-placeholder {
  color: rgb(40,49,54);
}
.filter .price-input :-ms-input-placeholder {
  color: rgb(40,49,54);
}
.filter .price-input ::-moz-placeholder {
  color: rgb(40,49,54);
}
.filter .price-input :-moz-placeholder {
  color: rgb(40,49,54);
}
.filter .filter-option {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(40,49,54);
  list-style: none;
}
.filter-option label:hover {
  color: rgb(0,0,0);
}
.filter-option label:disabled {
  color: rgba(40,49,54,0.3);
}
/*catalog - Список продуктов header*/

.catalog-header h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.catalog-header .sort-list,
.catalog-header .sort-updown {
  list-style: none;
}
.catalog-header .sort-list a,
.catalog-header .sort-updown a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
}
.catalog-header .sort-list a:hover,
.catalog-header .sort-updown a:hover,
.catalog-header .sort-list a:focus,
.catalog-header .sort-updown a:focus {
  color: rgba(0,0,0,0.6);
}
.catalog-header .sort-list a:active,
.catalog-header .sort-updown a:active {
  color: rgb(0,0,0);
}

/*catalog - список продуктов*/

.products .products-list {
  list-style: none;
}
.products-list .product-item h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(0,0,0);
  text-transform: uppercase;
}
.product-item .product-about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
}

/*catalog - кнопки*/

.pages li {
  list-style: none;
  background-color: rgb(238,238.238);
  display: inline;
}
.pages li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(0,0,0);
}
.pages li a:hover {
  background-color: rgb(223,223,223);
}
.pages li a:focus {
  background-color: rgb(213,213,213);
}
.pages li a:active {
  background-color: rgb(255,255,255);
  border: 3px solid rgb(219,219,219);
}
.pages

/*Контакты*/

.contact-info .text-header {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.contact-info .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
}
.contact-info .tel,
.contact-info .tel:hover,
.contact-info .tel:focus,
.contact-info .tel:active {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
}

/*Кнопки социальных сетей*/

.social-thanks .social-icons {
  list-style: none;
}

.social-thanks .text-header {
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(0,0,0);
}
.social-thanks .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(68,68,68);
}

/*Форма обратной связи*/

.contact-form .user-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form textarea,
.contact-form input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68,68,68,0.5);
  border: 2px solid rgb(215,220,222);
  outline: none;
}
.contact-form ::-webkit-input-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form :-ms-input-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form ::-moz-placeholder {
  color: rgba(68,68,68,0.5);
  }
.contact-form :-moz-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form :focus::-webkit-input-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus:-ms-input-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus::-moz-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus:-moz-placeholder {
  color: rgb(68,68,68);
}
.contact-form textarea:focus,
.contact-form input:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(68,68,68);
  opacity: 0,5;
  border: 2px solid rgb(68,68,68);
}
.contact-form .user-email {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form .imput-email {

}
.contact-form .user-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form .input-text {

}
