body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;

  background-color: rgb(255,255,255);
}
a {
  text-decoration: none;
}
.btn {
  background-color: rgb(256,86,90);
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgb(255,255,255);
  border: none;
}
.btn:hover,
.btn:focus{
  background-color: rgb(231,66,70);
}
.btn:active {
  background-color: rgb(215,55,59);
  color: rgba(255,255,255,0.3);
}
.green {
  background-color: rgb(0,202,116);
}
.green:hover,
.green:focus {
  background-color: rgb(0,188,108);
}
.green:active {
  background-color: rgb(0,170,98);
}
.yellow {
  background-color: rgb(239,200,74);
}
.yellow:hover,
.yellow:focus {
  background-color: rgb(234,181,52);
}
.yellow:active {
  background-color: rgb(229,167,34);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: rgb(238,238,238);
}
.main-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.main-links,
.cart {
  list-style: none;
}
.main-links a,
.cart a {
  color: rgb(0,0,0);
}
.main-links a:hover,
.cart a:hover {
  color: rgb(251,86,90);
}
.main-links a:focus,
.cart a:focus {
  color: rgb(251,86,90);
}

.main-links a:active,
.cart a:active {
  color: rgba(0,0,0,0.3);
}

.slider .slide-1 {
  background-color: rgb(238,238,238);
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider .slide-2 {
  background-color: rgb(238,238,238);
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider .slide-3 {
  background-color: rgb(238,238,238);
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider .text-header {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: rgb(0,0,0);
}
.slider .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}
.slider-buttons .buttons-list {
  list-style: none;
}

.service h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.service .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}
.service .service-list {
  list-style: none;
}

.about-us-details .text-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: rgb(0,0,0);
}
.about-us-details .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}
.about-us-details .text-list {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.about-us-details .lists {
  list-style: none;
}
.stats-block .stats {
  list-style: none;
}
.stats-block .stats-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.stats .procent-numbers {
  font-size: 45px;
  font-weight: 600;
  line-height: 10px;
  color: rgb(0,0,0);
}
.stats .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(40,49,54);
}

.clients .clients-list {
  list-style: none;
}

.contact-info .text-header {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.contact-info .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
}
.contact-info .tel,
.contact-info .tel:hover,
.contact-info .tel:focus,
.contact-info .tel:active {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
}

.social-thanks .social-icons {
  list-style: none;
}

.social-thanks .text-header {
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(0,0,0);
}
.social-thanks .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(68,68,68);
}

.contact-form .user-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form textarea,
.contact-form input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68,68,68,0.5);
  border: 2px solid rgb(215,220,222);
  outline: none;
}
.contact-form ::-webkit-input-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form :focus::-webkit-input-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus:-ms-input-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus::-moz-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus:-moz-placeholder {
  color: rgb(68,68,68);
}
.contact-form textarea:focus,
.contact-form input:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(68,68,68);
  opacity: 0,5;
  border: 2px solid rgb(68,68,68);
}
.contact-form .user-email {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form .imput-email {

}
.contact-form .user-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form .input-text {

}
