body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  background-color: rgb(255,255,255);

  min-width: 1200px;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Кнопки*/

.btn {
  display: block;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: rgb(256,86,90);
  border-radius: 3px;
  border: none;
}
.btn-big {
  width: 240px;
  padding: 14px 0;
}
.btn-medium {
  width: 220px;
  padding: 15px 0;
}
.btn-small {
   width: 160px;
   padding: 16px 0;
}
.btn:hover,
.btn:focus{
  background-color: rgb(231,66,70);
  outline: none;
}
.btn:active {
  background-color: rgb(215,55,59);
  color: rgba(255,255,255,0.3);
  outline: none;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.green {
  background-color: rgb(0,202,116);
}
.green:hover,
.green:focus {
  background-color: rgb(0,188,108);
}
.green:active {
  background-color: rgb(0,170,98);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.yellow {
  background-color: rgb(239,200,74);
}
.yellow:hover,
.yellow:focus {
  background-color: rgb(234,181,52);
}
.yellow:active {
  background-color: rgb(229,167,34);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.gray {
  background-color: rgb(238,238,238);
  color: rgb(0,0,0);
}
.gray:hover,
.gray:focus {
  background-color: rgb(223,223,223);
  outline: none;
}
.gray:active {
  background-color: rgb(213,213,213);
  outline: none;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Скрытие*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
/*index - header*/

.main-header {
  padding-top: 50px;
  background-color: rgb(238,238,238);
}

.main-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  display: flex;
  align-items:center;
}

.header-block {
  width: 100%;
  margin-right: 0;
  display: flex;
}
/*Блоки верхей части*/

.logo-block {
  width: 160px;
  height: 65px;
}

.navigation-block {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  padding: 0;
  margin-top: 10px;
  margin-left: 200px;
}

.main-links,
.cart {
  list-style: none;
}
.main-links {
  padding-left: 0;
}
.main-links li {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 20px;
}

.main-links a {
  background-color: rgb(238,238,238);
  color: rgb(0,0,0);
}
.main-links a:hover,
.cart a:hover {
  color: rgb(251,86,90);
}
.main-links a:focus,
.cart a:focus {
  color: rgb(251,86,90);
}

.main-links a:active,
.cart a:active {
  color: rgba(0,0,0,0.3);
}

.cart li a {
  padding-right: 0;
}
.main-links li:nth-child(1) {
  padding-left: 0;
}
.main-links .use-link {
  border-bottom: 2px solid rgb(251,86,90);
}
.cart-block {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  margin-left: auto;
  margin-top: 10px;
}

.cart {
  padding: 0;
  margin-left: 0;
}

.cart li a {
  color: rgb(0,0,0);
  padding-left: 42px;
  position: relative;
  margin-top: 10px;
}
.cart li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
/*index - slider*/
.slider {
  position: relative;
  background-color: rgb(238,238,238);
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background-color: rgb(255,255,255);
  border-radius: 50%;
}
.slider-controls .active::before {

}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  margin: 0;
  padding: 0;
  display: none;
  min-height: 423px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}


#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  padding-top: 70px;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

/*index - Услуги*/

.service h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}
.service .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
  margin-bottom: 30px;
  margin-left: 0;
}
.service-list {
  margin: 0;
  padding: 0;
}
.about-us-details .text-header {
  margin: 0;
}
.service .service-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-top: 80px;
  padding-bottom: 80px;
}
.service-list .service-item {
  width: 300px;
  margin-right: 100px;
}

/*index - О компании*/
.about-us-details {
  width: 660px;
  margin-right: 140px;
}
.about-us .wrapper {
  border-top: 2px solid rgb(238,238,238);
  padding-top: 75px;
  padding-bottom: 70px;
}
.about-us-details .text-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: rgb(0,0,0);
}

.about-us-details .text-sub {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(40,49,54);
}
.about-us-details .text-list {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}
.lists {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lists li {
  margin-top: 25px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 35px;
}

.lists li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 22px;

  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.stats {
  margin: 0;
  padding: 0;
}
.stats .stats-item {
  width: 100px;
  padding-right: 20px;
}
.stats .stats-item:nth-last-child(1) {
  padding-right: 0;
}
.stats-block {
  margin-top: -35px;
  width: 360px;
}
.stats {
  list-style: none;
  display: flex;
}
.stats-block .stats-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(0,0,0);
  margin-top: 30px;
  margin-left: 15px;
}
.stats .procent-numbers {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  color: rgb(0,0,0);
}
.stats .text-sub {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(40,49,54);
}
.stats-item .procent {
  font-size: 25px;
  vertical-align: super;
}
/*index - Клиенты*/

.clients .clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: stretch;
  border-top: 2px solid rgb(238,238,238);
  border-bottom: 2px solid rgb(238,238,238);
  padding: 0;
  margin: 0;
}
.clients .clients-item {
  background-image: url("../img/div.png");
  background-repeat: no-repeat no-repeat;
  background-position: right, 0 0;
}
.clients .clients-item:nth-last-child(1) {
  background-image: none;
}
.clients .clients-item a {
  display: flex;
  align-items: center;
  height: 180px;
  padding-left: 30px;
  margin-right: 49px;
  opacity: 0.2;
  outline: none;
}
.clients .clients-item:nth-last-child(1) a {
  margin-right: 0;
  padding-right: 30px;
}
.clients .clients-item a:hover {
  opacity: 1;
  outline: none;
}
.clients .clients-item a:active {
  opacity: 0.1;
  outline: none;
}

/*catalog - header*/

.main-header .page-header {
  margin: 0;
  padding-top: 115px;
  padding-bottom: 115px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: rgb(0,0,0);
  text-align: center;

}

/*catalog - фильтры*/
.menu {
  margin-top: 60px;
  min-width: 260px;
  margin-right: 140px;
}

.menu ul {
  padding: 0;
}
.filter .first {
  margin-bottom: 56px;
}
.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(0,0,0);
}
.filter fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.filter .price-field {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(40,49,54);
}
.filter .price-field input {
  width: 80px;
  outline: none;
  border: 2px solid rgb(215,220,222);
}
.filter .price-field input:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(68,68,68);
  opacity: 0,5;
  border: 2px solid rgb(68,68,68);
}
.filter .price-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(40,49,54);
}
.filter .price-input ::-webkit-input-placeholder {
  color: rgb(40,49,54);
}
.filter .price-input :-ms-input-placeholder {
  color: rgb(40,49,54);
}
.filter .price-input ::-moz-placeholder {
  color: rgb(40,49,54);
}
.filter .price-input :-moz-placeholder {
  color: rgb(40,49,54);
}
.filter .filter-option {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(40,49,54);
  list-style: none;
}
.filter-option label:hover {
  color: rgb(0,0,0);
}
.filter-option label:disabled {
  color: rgba(40,49,54,0.3);
}

/*catalog - Список продуктов header*/
.catalog {
  width: 760px;
}
.catalog-header {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 0;
  display: flex;
}
.header-block h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(0,0,0);
}

.sort-block {
  margin-left: auto;
  display: flex;
}
.catalog-header .sort-list,
.catalog-header .sort-updown {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sort-list li {
  display: inline-block;
  vertical-align: top;
}
.sort-updown li {
  display: inline-block;
  vertical-align: top;
}

.catalog-header .sort-list a,
.catalog-header .sort-updown a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  padding-right: 25px;
  text-transform: uppercase;
}

.catalog-header .sort-updown li:nth-last-child(1) a {
  padding-right: 0;
}
.catalog-header .sort-list a:hover,
.catalog-header .sort-updown a:hover,
.catalog-header .sort-list a:focus,
.catalog-header .sort-updown a:focus {
  color: rgba(0,0,0,0.6);
}
.catalog-header .sort-list a:active,
.catalog-header .sort-updown a:active {
  color: rgb(0,0,0);
}

/*catalog - список продуктов*/

.products .products-list {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
.products-list .product-item {
  width: 360px;
  margin-bottom: 60px;
}
.products-list .product-item:nth-child(2n) {
  margin-right: 0;
  margin-left: 40px;
}
.product-about {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 43px;
  background-color: rgb(238,238,238);
}
.products-list .product-item h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(0,0,0);
  text-transform: uppercase;
  text-align: center;
}
.product-item .product-about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
  text-align: center;
}
.product-about .btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}

/*catalog - кнопки*/
.pages {
  padding: 0;
}
.pages li {
  width: 48px;
  height: 48px;
  list-style: none;
  background-color: rgb(238,238,238);
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: 2px solid rgb(238,238,238);

}
.pages li:nth-last-child(1){
  width: auto;
}
.pages li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(0,0,0);
}
.pages li:hover,
.pages li button:hover {
  background-color: rgb(223,223,223);
  border: 2px solid rgb(223,223,223);
}
.pages li:focus,
.pages li button:focus {
  background-color: rgb(213,213,213);
  border: 2px solid rgb(213,213,213);
}
.pages li:active,
.pages li button:active {
  background-color: rgb(255,255,255);
  border: 2px solid rgb(219,219,219);

}


/*Контакты*/
.contact-map {
  padding-top: 80px;
}

.contact-map img {
  width: 100%;
}
.contact-info {
  position: absolute;
  width: 319px;
  margin-top: 54px;
  margin-bottom: 54px;

  background-color: white;
}
.contact-info .contact-block {
  position: relative;
  padding: 50px;
}
.contact-info .text-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(0,0,0);

  margin-top: 0;
  margin-bottom: 22px;
}
.contact-info .text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);

  margin-top: 0;
  margin-bottom: 38px;
}

.contact-info .tel,
.contact-info .tel:hover,
.contact-info .tel:focus,
.contact-info .tel:active {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102,102,102);
}

/*Кнопки социальных сетей*/

.social-thanks {
  padding-top: 80px;
  padding-bottom: 80px;
}
.social-thanks .social-icons {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-right: 140px;
  margin-top: 0;
  margin-bottom: 0;
}

.social-thanks .text-header {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(0,0,0);
}
.social-thanks .text-sub {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(68,68,68);
}

.social-icons .social-icons-item {
  background-color: rgb(225,225,225);
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.social-icons .social-icons-item:nth-last-child(1) {
  margin-right: 0;
}
.social-icons .social-icons-item:hover {
  background-color: rgb(231,66,70);
}
.social-icons .social-icons-item:active {
  background-color: rgb(215,55,59);
}
.social-icons-item a {
  display: block;
  width: 80px;
  height: 80px;
}
.social-icons-item .vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.social-icons-item .fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.social-icons-item .inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-icons-item a:active {
  opacity: 0.3;
}

/*Форма обратной связи*/

.contact-form .user-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form textarea,
.contact-form input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68,68,68,0.5);
  border: 2px solid rgb(215,220,222);
  outline: none;
}
.contact-form ::-webkit-input-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form :-ms-input-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form ::-moz-placeholder {
  color: rgba(68,68,68,0.5);
  }
.contact-form :-moz-placeholder {
  color: rgba(68,68,68,0.5);
}
.contact-form :focus::-webkit-input-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus:-ms-input-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus::-moz-placeholder {
  color: rgb(68,68,68);
}
.contact-form :focus:-moz-placeholder {
  color: rgb(68,68,68);
}
.contact-form textarea:focus,
.contact-form input:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(68,68,68);
  opacity: 0,5;
  border: 2px solid rgb(68,68,68);
}
.contact-form .user-email {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form .imput-email {

}
.contact-form .user-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(0,0,0);
}
.contact-form .input-text {

}
